body {
  background-color: #fbead4;
  color: #1c0f00;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 16px;
}
#title,
#description {
  color: #ffddd0;
}
@media (max-width: 539px) {
  #main {
    border-radius: 25px;
    background-color: #7c3c22;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
  }
  #survey-form {
    line-height: 1.5;
    border-radius: 25px;
    width: 90%;
    margin: auto;
    padding-left: 20px;
    text-align: left;
    background-color: #ffddd0;
    color: #350f00;
  }
}
@media (min-width: 540px) {
  #main {
    border-radius: 25px;
    background-color: #7c3c22;
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
  }
  #survey-form {
    line-height: 1.5;
    border-radius: 25px;
    width: 78%;
    margin: auto;
    padding-left: 20px;
    text-align: left;
    background-color: #ffddd0;
    color: #350f00;
  }
}

#buttonwrap {
  text-align: center;
  padding-right: 20px;
}
#number,
#dropdown,
#radio,
#checks,
#submit {
  margin-bottom: 10px;
}
#name {
  margin-top: 10px;
}
#number-label {
  margin-left: 16px;
}
label {
  font-style: italic;
}
#dropdown,
.textin,
::placeholder {
  color: #7c3c22;
  opacity: 0.7;
}
#submit {
  border-radius: 10px;
  font-size: 18px;
  background-color: #7c3c22;
  color: #ffddd0;
}
#suggestion {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 95%;
}
